.vs/
*.obj
*.pdb
*.tlog
*.log
*.idb
*.ilk
*.suo
*.user
*.sln.docstates
*.vcxproj.filters
*.vcxproj
*.vcxproj.user
*.sln
*.rc
*.aps
resource.h
/bin/
/obj/
img_copy/

# Archivos ejecutables
*.exe
*.dll  # Excluye DLLs generadas, pero no las que copias manualmente como glew32.dll

# Archivos de depuración y temporales
Debug/
Release/
*.bak
*.cache

# Ignorar carpetas de dependencias grandes (si las descargas localmente)
libs/  # Opcional, si no quieres subir tus librerías externas

# Archivos del sistema
.DS_Store  # macOS
Thumbs.db  # Windows

Whomp’em.rc # Archivo de recursos de Windows
resource1.h
resource.h
RCa11796